@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Open+Sans');

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    table-layout: auto;
    margin: 0, auto;

}

.txt {
    font-family: "Gloria Hallelujah";
    font-size: 1.5vw;
}

.authr {
    font-family: "Open Sans";
    font-size: 1.2vw;
}

div {
    border: 3px;
    border-color: darkturquoise;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px;
}

.inputText {
    display: flex;
    flex-direction: column;
}

.deleteButton {
    height: 18px;
    width: 18px;
    color: darkturquoise;
    background: darkred;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.inputs {
    width:  100%;
    display: flex;
    justify-content: space-around;
}

span {
    padding: 10px;
}